div.content{
    padding-top: 5em;
    padding-bottom: 5em;
}

.call-to-action-lbl {
    cursor:pointer;
}
.call-to-action-lbl:hover {
    background-color:#db2828!important;
    color:#fff!important;
    border-color:#fff!important;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

.blockquote-footer::before {
  content: "\2014 \00A0";
}
